body {
  font-family: BrandonTextWeb-Regular;

  background-color: white;
}

#container {
  width: 100%;
}

nav {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: auto;
  font-weight: bolder;
  /* position: fixed; */
  justify-content: space-around;

  background-color: #161921;
}
nav > div {
  /* border: 2px solid red; */
  margin-top: 20px;
  margin-bottom: 20px;
}
#mid {
  justify-content: space-around;
  display: flex;
  width: 30%;
}
#last {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
#logo {
  width: 20%;
}
#logo >a> img {
  width: 20%;
  justify-content: center;
  margin-left: 10px;
}

nav > div > a {
  color: #b6b7b9;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

a:hover {
  color: white;
}


#slide{

  width: 80%;
  margin: auto;

}

#slide>img{
  width: 100%;
  margin: auto;
 border-bottom-right-radius:30px ;
  border-bottom-left-radius:30px ;
}







#testheading{
  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
}
#labtest>div>p{
  text-decoration: line-through;
 color: #6e6e6e;
 font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
}
#labtest>div>h4{
 
 font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
}


#labtest {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  font-family: BrandonTextWeb-Regular;
}
#labtest > div {
  /* border: 2px solid rgb(228, 54, 54); */
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding-bottom: 20px;
  font-family: BrandonTextWeb-Regular;

}
#labtest > div > img {
  width: 100%;
  border-radius: 5px;
}

#labtest > div:hover {
  transform: scale(1.05);
  transition: all 1s;
  padding: 0px 20px;
  
}

#doctor > p:nth-child(1) {
  color: #6e6e6e;
  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin: 0px;
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bolder;
}

#doctor > p:nth-child(2) {
  color: #cccccc;
  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin: 0px;
  font-size: 70px;
  font-weight: bolder;
}

#doctor > p:nth-child(3) {
  color: #cccccc;
  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin: 0px;
  font-size: 40px;

  font-weight: bold;
  margin-bottom: 40px;
}

#footer-top {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 20px 0px 20px;
  gap: 10px;
  justify-content: space-around;
  color: white;
}

#footer-top > div {
  margin-bottom: 100px;
  margin-top: 100px;
}

#footer-top > div:nth-child(2),
#footer-top > div:nth-child(3),
#footer-top > div:nth-child(4) {
  display: flex;
  flex-direction: column;
  color: red;
  padding: 30px;
}
#footer-top > div:nth-child(5) {
  text-align: right;
}

#footer-top > div:nth-child(2) > a,
#footer-top > div:nth-child(3) > a,
#footer-top > div:nth-child(4) > a {
  text-decoration: none;
  font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
  color: white;
  text-align: left;
  margin-left: 30px;
}

#footer-top > div:nth-child(1) > p {
  margin-top: 50px;

  width: 70%;
  font-size: 14px;
  line-height: 22px;
  margin-left: 30px;
  font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}

#footer-top > div:nth-child(5) > a > img {
  width: 70%;
  margin-bottom: 30px;
}

#footer-top > div:nth-child(5) > div > a > img {
  width: 10%;

  margin-top: 50px;
  margin-left: 20px;
}

#footer-bottom {
  background-color: rgb(17, 18, 19);
  color: white;
}
#footer-bottom > div {
  padding: 10px;
}

#footer-bottom > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  gap: 20px;
}
#footer-bottom > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#footer-bottom > div:nth-child(2) > div > a {
  color: rgb(109, 110, 110);
  text-decoration: none;
  font-family: BrandonTextWeb-Regular;
  font-size: 14px;
  line-height: 20px;
}

button {
  background: #ffffff;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ff4742;
  cursor: pointer;
  padding: 10px 12px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 30px;
  font-weight: 900;
}

button:hover,
button:active {
  background-color: white;
  background-position: 0 0;
  color: #000000;
}

button:active {
  opacity: 0.5;
}