* {
  margin: 0;
  padding: 0;
}

body {
  font-family: BrandonTextWeb-Regular;

  background-image: linear-gradient(to right, rgb(25, 28, 40), rgb(19, 12, 15));

  color: white;
}

#container {
  width: 100%;
}


nav {
  /* border: 2px solid red; */
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: auto;
  font-weight: bolder;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: black;
  z-index: 9999;
  margin-bottom: 50px;
}


#mid {
  justify-content: space-around;
  display: flex;
  width: 30%;
}

a.active {
  z-index: 2;
  border-bottom: 2px solid white;
}

#last {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

#logo {
  display: block;
  justify-content: space-around;
  width: 20%;
}

#logo>a>img {
  width: 50%;
  justify-content: center;
  margin-left: 10px;
}

nav>div>a {
  color: #b6b7b9;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

a:hover {
  color: white;
  border-bottom: 1px solid white;
}


#banner>video {
  position: relative;
  top: 0;
  left: 0;
  object-fit: fill;
  width: 100%;
  margin-top: 50px;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#content {
  /* border: 5px solid blue; */
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: -700px;
}

#content>img {
  width: 35%;
}

#content>h2 {
  color: #ffffff;
  /* border: 2px solid blue; */
  width: 35%;
  margin: auto;
  margin-top: 50px;
  font-family: sans-serif;
  letter-spacing: 3px;
}

.pass {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-top: 45vh;
}

.pass>div {
  border: 2px solid #c9c9ce;
  text-align: center;
  color: #adaeb2;
  border-radius: 20px;
}

.pass>div:hover {
  background-color: #232631;
}

.pass>div>p {
  width: 66%;
  word-spacing: 0px;
  margin: auto;
  margin-bottom: 20px;
}

.pass>div:nth-child(1)>h1 {
  color: #eec879;
}

.pass>div:nth-child(2)>h1 {
  color: #c9c9ce;
}

.pass>div:nth-child(3)>h1 {
  color: #724362;
}

#ExploreBtn {
  background: #ffffff;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ff4742;
  cursor: pointer;
  padding: 10px 12px;
  text-align: center;
  margin-top: 30px;
  font-weight: 900;
}

#ExploreBtn:hover,
#ExploreBtn:active {
  background-color: white;
  background-position: 0 0;
  color: #000000;
}

#ExploreBtn:active {
  opacity: 0.5;
}

#fitness-member>p {
  font-size: 80px;
  font-weight: bold;
  color: white;
  width: 60%;
  text-align: center;
  margin: auto;
}

#top-fitness-member {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  justify-content: space-around;
  gap: 10%;
  width: 80%;
  margin: auto;
}

#top-fitness-member>div>img {
  width: 100%;
}

#top-fitness-member>div {
  display: flex;
  margin: auto;
  justify-content: center;
}

#top-fitness-member>div:nth-child(2) {
  margin-top: 50px;
}

#bottom-fitness-member {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  margin-top: 50px;
}

#bottom-fitness-member>div>img {
  width: 100%;
}

#bottom-fitness-member>div {
  display: flex;
  margin: auto;
  justify-content: center;
}

#groupclass {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  width: 90%;
  margin: auto;
  padding: 10px;
}

#groupclass>div>img {
  width: 100%;
  padding: 3px;
  border-radius: 15px;
}

#fun {
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;

  font-size: 80px;
  font-weight: bold;
  color: white;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#cult-pass {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  margin: auto;
  gap: 50px;
}

#cult-pass>div>img {
  width: 100%;
  border-radius: 20px;
  z-index: -1;
}

#culttop>p {
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;

  font-size: 70px;
  font-weight: bold;
  color: white;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  letter-spacing: 2px;
}

#culttop>a {
  margin: auto;
  display: block;
  width: 10%;
  text-align: center;
  margin-bottom: 50px;
  color: #3887fd;
}

#cult-pass>div>h2 {
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin: -120px;
  margin-left: 30px;
  margin-bottom: -30px;
  z-index: 1;
  width: 50%;
}

#cult-pass>div>h1 {
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  z-index: 1;
  margin-left: 30px;
  margin-top: 40px;
  font-size: 60px;
}

#cult-pass>div:nth-child(1)>h1 {
  color: #ffcf61;
}

#cult-pass>div:nth-child(2)>h1 {
  color: #c9c9ce;
}

#cult-pass>div:nth-child(3)>h1 {
  color: #e16b9f;
}

#cult-pass>div>h3 {
  font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin-bottom: 0px;
}

#cult-pass>div>ul {
  font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  padding: 4%;
  margin-bottom: 0px;
}

#cult-pass>div>ul>li {
  font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#cult-pass>div>button {
  background: #ffffff;
  font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ff4742;
  cursor: pointer;
  padding: 12px 14px;
  text-align: center;
  margin-top: 30px;
  font-weight: 900;
  margin-right: 10px;
  margin-bottom: 150px;
}

#cult-pass>div>button:hover,
#cult-pass>div>button:active {
  background-color: white;
  background-position: 0 0;
  color: #000000;
}

#cult-pass>div>button:active {
  opacity: 0.5;
}

.try {
  background-color: #2f313c;
}

#support {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  width: 85%;
  margin: auto;
  padding: 10px;
  position: relative;
}

#support>div {
  position: relative;
  transition: all 0.3s;
}

#support>div:hover {
  transform: scale(1.01);
}

#support>div>img {
  width: 100%;
  border-radius: 30px;
  z-index: -1;
  opacity: 0.9;
}

#support>div>h2 {
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  top: 10px;
  position: absolute;

  z-index: 1;
  color: #000000;

  font-size: 30px;
  line-height: 38px;
  margin-left: 20px;
}

#support>div>p {
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  top: 60px;
  position: absolute;

  z-index: 1;
  color: #0d0d0d;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-left: 20px;
}

#downlaod {
  margin: auto;
  margin-top: 100px;
  width: 85%;
  border-radius: 30px;
  background-image: linear-gradient(to right,
      rgb(44, 50, 74),
      rgb(24, 50, 51),
      rgb(92, 39, 64));
}

#downlaod>div {
  padding: 10px;
  margin-left: 30px;
}

#downlaod>div>h1 {
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  width: 40%;
}

#downlaod>div>h3 {
  margin-top: 50px;
  width: 40%;
  margin-bottom: 80px;
  font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}

#downlaod>div>a {
  margin-right: 20px;
  transition: all 0.5s;
}

#downlaod>div>a>img:hover {
  transform: scale(1.05);
}

#downlaod>div>a>img {
  margin-bottom: 25px;
}

.joinfamily>p {
  text-align: center;
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  line-height: 80px;
  font-size: 70px;
  font-weight: bolder;
}

#familycart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  margin: auto;
  gap: 25px;
}

#familycart>div:nth-child(1) {
  background-image: linear-gradient(to right,
      rgb(44, 50, 74),
      rgb(51, 53, 65),
      rgb(56, 87, 93));
  padding: 0px 30px 0px 30px;
  border-radius: 30px;
}

#familycart>div>a {
  margin: auto;
  display: block;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  color: #3577d8;
  text-decoration: none;
  margin-top: 20px;
}

#familycart>div:nth-child(1) p {
  text-align: center;
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: bolder;
  border-radius: 30px;
  padding: 5px;
  margin-top: 0px;
}

#familycart>div:nth-child(2) {
  background-image: linear-gradient(to right,
      rgb(44, 50, 74),
      rgb(51, 53, 65),
      rgb(56, 87, 93));
  text-align: center;
  border-radius: 30px;
  padding: 0px 30px 0px 30px;
}

#familycart>div:nth-child(2) h2 {
  text-align: center;
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: bolder;
  border-radius: 30px;
  padding: 5px;
  margin-top: 0px;
  background-image: linear-gradient(115deg, #f8ba00 12%, #ef5fa7 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#familycart>div:nth-child(2)>img {
  width: 60%;
  margin-top: 30px;
  opacity: 0.3;
}

#familycart>div:nth-child(2) p {
  text-align: center;
  font-family: Inter-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: 30px;

  padding: 5px;
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

#familycart>div>img {
  width: 80%;

  margin: auto;
  display: block;
}

#familycart>div:hover {
  transition: all 0.6s;
}

#familycart>div:hover {
  transform: scale(1.01);
}

#cult {
  margin: auto;
  margin-top: 100px;
}

#cult>img {
  width: 100%;
}

#footer-top {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 20px 0px 20px;
  gap: 10px;
  justify-content: space-around;
}

#footer-top>div {

  margin-bottom: 100px;
  margin-top: 100px;
}

#footer-top>div:nth-child(2),
#footer-top>div:nth-child(3),
#footer-top>div:nth-child(4) {
  display: flex;
  flex-direction: column;
  color: red;
  padding: 30px;
}

#footer-top>div:nth-child(5) {
  text-align: right;
}

#footer-top>div:nth-child(2)>a,
#footer-top>div:nth-child(3)>a,
#footer-top>div:nth-child(4)>a {

  text-decoration: none;
  font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
  color: white;
  text-align: left;
  margin-left: 30px;

}


#footer-top>div:nth-child(1)>p {
  margin-top: 50px;

  width: 70%;
  font-size: 14px;
  line-height: 22px;
  margin-left: 30px;
  font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}

#footer-top>div:nth-child(5)>a>img {
  width: 70%;
  margin-bottom: 30px;
}



#footer-top>div:nth-child(5)>div>a>img {
  width: 10%;

  margin-top: 50px;
  margin-left: 20px;
}

#footer-bottom {
  background-color: rgb(17, 18, 19);
}

#footer-bottom>div {
  padding: 10px;
}

#footer-bottom>div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  gap: 20px;
}

#footer-bottom>div:nth-child(2)>div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#footer-bottom>div:nth-child(2)>div>a {
  color: rgb(109, 110, 110);
  text-decoration: none;
  font-family: BrandonTextWeb-Regular;
  font-size: 14px;
  line-height: 20px;
}